* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

header {
  background-color: rgba(249, 123, 34);
  height: auto;
  width: auto;
}

header .container {
  display: flex;
  flex-direction: column;
}

header .outer-container {
  display: flex;
  flex-direction: row;
}

header .logo-container {
  display: flex;
  align-items: center;
  padding: 8px;
}

header .logo {
  width: 3.5em;
}

header .nav-container {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  padding: 10px;
  text-align: center;
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

nav a:hover {
  color: rgb(254, 232, 176);
}

#about-us .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#about-us .front-image-properties {
  width: 100%;
}

#about-us .about-us-title {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(249, 123, 34);
  margin: 40px;
}

#about-us .about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
}

#about-us .about-us-body {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  margin-top: 0px;
}

#about-us .about-us-subtitle {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(249, 123, 34);
  margin: 40px;
  margin-top: 20px;
}

#about-us .vision-goal-list {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  margin-top: 0px;
}

footer {
  height: auto;
  background-color: rgba(249, 123, 34);
}

footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: safe center;
  margin: auto;
}

footer .footer-logo-div {
  margin: 15px;
  align-content: center;
  justify-content: center;
}

footer .footer-logo {
  width: 3em;
}

footer .footer-text-div {
  align-content: center;
  justify-content: center;
}

footer .footer-text {
  font-family: "roboto", sans-serif;
  text-align: justify;
  margin: 15px;
}

footer .social-networks-div {
  margin: 16px;
  align-content: center;
  justify-content: center;
}

footer .footer-img {
  width: 2em;
  padding-bottom: 0px;
}

footer .footer-img-youtube {
  width: 2em;
  padding-bottom: 5px;
}
